[core]
	excludesfile = ~/.gitignore_global
	pager = delta --plus-color="#012800" --minus-color="#340001" --theme='Monokai Extended'
	editor = nvim
[push]
	default = current
[fetch]
	prune = true
[interactive]
    diffFilter = delta --color-only
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Richard Steinbrück
	email = richard.steinbrueck@googlemail.com
	signingkey = E74F05B1
[includeIf "gitdir:Projects/pixel-combo/"]
  path = .gitconfig-pixelcombo
[includeIf "gitdir:Projects/MediaSaturn/"]
  path = .gitconfig-mediamarktsaturn
[alias]
	plog = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
	yolo = !git add -A && git commit -m \"$(curl --silent --fail http://whatthecommit.com/index.txt)\"
[fetch "origin"]
	prune = true
[pull]
	rebase = true
[commit]
	gpgSign = false
	template = ~/.gitmessage
[gpg]
	program = gpg
[init]
	defaultBranch = master

# define command which will be used when "nvim" is set as a merge tool
[mergetool "nvim"]
  cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
# set "nvim" as tool for merging
[merge]
  tool = nvim
# automatically launch merge tool without displaying a prompt
[mergetool]
  prompt = false
