[core]
	excludesfile = /Users/steinbrueckri/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
	editor = code --wait
[push]
	default = current
[fetch]
	prune = true
[credential]
	helper = osxkeychain
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Richard Steinbrück
	email = richard.steinbrueck@googlemail.com
[includeIf "gitdir:Projects/MediaSaturn/"]
  path = .gitconfig-work
[alias]
	plog = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative"
