name: CI

on:
  workflow_dispatch:
  push:
  schedule:
    # Every day at 06:00
    - cron: "0 6 * * *"

jobs:
  CI:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Just
        uses: extractions/setup-just@v2

      - name: Run tests
        run: just lint-md && just test

      - name: Debug
        run: ls -la .test_results/

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            .test_results/*.xml
